
<form action="<%= url %>" method="get">
<div class="postzoom">
	<input name="keyword" style='height:30px;width:300px;'/>
	<input type="submit" value="Search" style='height:30px;'/>
</div>
</form>

<div id="content">
	<% notes.each do |note| %>
	<div class="post">
		<p class="meta"><small>
		<div class="entry">
			<%= note.body_html %>
		</div>
	</div>
	<% end %>
</div>

