<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title><%= @title || Setting.title %></title>
	<link href="/main.css" rel="stylesheet" type="text/css" />
	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js'></script>
</head>
<body>
<div id="header">
  <h1><a href="/"><%= Setting.title %></a></h1>
	<%= partial(:menu, :title => Setting.title) %>
</div>

<div id="content">
	<%= yield %>
</div>

<div id="footer">
	<p id="legal">
	copyright: biti
</div>
</body>
</html>
